---
import SectionLayout from "../layouts/SectionLayout.astro";
import MdIcon from "../components/icon/mdIcon.astro";
import SvgIcon from "../components/icon/svgIcon.astro";
---

<SectionLayout activePage="contacts" pageTitle="Contacts">
  <h1 class="mb-3">Contacts</h1>
  <div class="mb-3">
    <ul>
      <li>
        <a href="https://discord.com/users/348857400863883264" target="_blank"
          ><SvgIcon colored={true} classes={["me-2"]}
            ><use href="/icons/discord.svg#icon"></use></SvgIcon
          >Discord</a
        >
      </li>
      <li>
        <a
          href="javascript:;"
          onclick="navigator.clipboard.writeText('@itsmexxie:ks.matfyz.cz')">
          <SvgIcon colored={true} classes={["me-2"]}
            ><use href="/icons/matrix.svg#icon"></use></SvgIcon
          >Matrix (ks.matfyz.cz) <MdIcon>content_copy</MdIcon></a
        >
      </li>
      <li>
        <a href="https://bsky.app/profile/itsmexxie.net" target="_blank">
          <SvgIcon colored={true} classes={["me-2"]}
            ><use href="/icons/bluesky.svg#icon"></use></SvgIcon
          >Bluesky
        </a>
      </li>
      <li>
        <a href="https://mastodon.social/@itsmexxie" target="_blank">
          <SvgIcon colored={true} classes={["me-2"]}>
            <use href="/icons/mastodon.svg#icon"></use>
          </SvgIcon>Mastodon
        </a>
      </li>
      <li>
        <a href="mailto:site.gloomily994@passinbox.com" target="_blank">
          <MdIcon colored={true} classes={["me-2"]}>mail</MdIcon>Email
        </a>
      </li>
    </ul>
  </div>
  <div class="mb-3">
    <h3 class="mb-2">Git</h3>
    <ul>
      <li>
        <a href="https://github.com/itsmexxie" target="_blank">
          <SvgIcon colored={true} classes={["me-2"]}>
            <use href="/icons/github.svg#icon"></use>
          </SvgIcon>GitHub
        </a>
      </li>
      <li>
        <a href="https://gitea.ks.matfyz.cz/itsmexxie" target="_blank">
          <SvgIcon colored={true} classes={["me-2"]}>
            <use href="/icons/forgejo.svg#icon"></use>
          </SvgIcon>gitea.ks.matfyz.cz
        </a>
        <li>
          <a href="https://git.gay/itsmexxie">
            <SvgIcon colored={true} classes={["me-2"]}>
              <use href="/icons/forgejo.svg#icon"></use>
            </SvgIcon>git.gay
          </a>
        </li>
      </li>
    </ul>
  </div>
  <div class="mb-3">
    <h3 class="mb-2">Other</h3>
    <ul>
      <li>
        <a href="https://listenbrainz.org/user/itsmexxie/" target="_blank">
          <SvgIcon colored={true} classes={["me-2"]}>
            <use href="/icons/musicbrainz.svg#icon"></use>
          </SvgIcon>ListenBrainz</a>
      </li>
    </ul>
  </div>
  <div class="mb-3">
    <div class="mb-2">
      <h3>Unused</h3>
      <i
        >These ones are also me, but I probably won't respond to you on these,
        since I don't use them that often.</i
      >
    </div>
    <ul>
      <li>
        <a href="https://www.instagram.com/itsmexxie/">
          <SvgIcon colored={true} classes={["me-2"]}>
            <use href="/icons/instagram.svg#icon"></use>
          </SvgIcon>Instagram
        </a>
      </li>
      <li>
        <a href="https://www.threads.com/@itsmexxie">
          <SvgIcon colored={true} classes={["me-2"]}>
            <use href="/icons/threads.svg#icon"></use>
          </SvgIcon>Threads
        </a>
      </li>
    </ul>
  </div>
</SectionLayout>

<style lang="scss">
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5rem;
  }
</style>
