---
import MdIcon from "../components/icon/mdIcon.astro";
import SvgIcon from "../components/icon/svgIcon.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import pages from "./manifest.json";

interface Language {
  desc: string;
  icon: string;
  classes: string[];
}

const languages: Language[][] = [
  [
    {
      desc: "*grows ears and a tail, starts taking estrogen*",
      icon: "rust",
      classes: ["rust"],
    },
    {
      desc: "i hate segfaults",
      icon: "cplusplus",
      classes: ["cpp"],
    },
    {
      desc: "I'm still learning this one, so I can't say more about it at the moment!",
      icon: "zig",
      classes: ["zig"],
    },
  ],
  [
    {
      desc: "whenever I need to write a simple one-off script, I always reach for python (mainly due to my laziness)",
      icon: "python",
      classes: ["python"],
    },
    {
      desc: "I'm still learning this one, so I can't say more about it at the moment!",
      icon: "go",
      classes: ["go"],
    },
  ],
  [
    {
      desc: "I have no idea how this works, but I would be glad to talk about it with you if you're willing to teach me! :)",
      icon: "haskell",
      classes: ["haskell"],
    },
  ],
];
---

<BaseLayout>
  <div class="wrapper">
    <div class="content-wrapper">
      <div>
        <img
          class="profile-photo"
          src="/img/profile_2.jpg"
          alt="Profile picture of an animated cat from a Ghibli studios movie"
        />
        <h1 class="mb-2">itsmexxie</h1>
        <div><span class="pronouns">she/her</span> 🏳️‍🌈🏳️‍⚧️</div>
      </div>
      <div class="about">
        <p>
          Hi! Welcome to my site! If you ever wanted to read about my interests,
          projects, thoughts and opinions (which I don't recommend), you'll find
          everything here (whenever I actually decide to finish it and put up
          some content…).
        </p>
        <p class="mb-0">
          Software and network engineer by day, huge coffee and tea nerd by
          night.<br />Currently studying at <a
            href="https://www.mff.cuni.cz/"
            target="_blank">MFF, UK</a
          >. Based in Prague, Czech Republic.<br />
        </p>
      </div>
      <div class="section">
        <h5 class="heading">Languages:</h5>
        <div id="languages">
          {
            languages
              .map((l_array) => (
                <div style="display: flex; gap: 6px">
                  {l_array.map((l) => (
                    <SvgIcon title={l.desc} classes={l.classes}>
                      <use href={`./icons/languages/${l.icon}.svg#icon`} />
                    </SvgIcon>
                  ))}
                </div>
              ))
              .reduce((res, item) => (
                <>
                  {res}
                  <div class="hr" />
                  {item}
                </>
              ))
          }
        </div>
      </div>
      <div id="links" class="section">
        <h5 class="heading">Sections:</h5>
        <ul>
          {
            pages.slice(1).map((x) => (
              <li>
                <a href={x.link}>
                  <MdIcon classes={["me-2"]}>{x.icon}</MdIcon>{x.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content-wrapper {
    width: 50vw;
    min-height: 100vh;
    flex-shrink: 0;
    padding: 3rem;

    display: flex;
    flex-flow: column;
    gap: 1.5rem;
  }

  .section {
    .heading {
      margin-bottom: 0.5rem;
      font-style: italic;
    }
  }

  .profile-photo {
    padding: 2px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 1px dotted var(--ctp-overlay0);
  }

  .pronouns {
    margin-right: 0.5rem;
    font-family: "SUSE Mono", sans-serif;
    font-style: italic;
  }

  .about {
    color: var(--ctp-subtext0);
  }

  #languages {
    display: flex;
    flex-flow: row;
    gap: 1rem;
  }

  #links li,  {
    font-family: "SUSE Mono", sans-serif;
  }

  @media screen and (max-width: 960px) {
    .content-wrapper {
      justify-content: flex-start;
      width: 100%;
    }
  }
</style>
