---
import PostComponent from "../components/index/post.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import Tag from "../components/index/tag.astro";
import type { PageMeta, PublishedNote, PublishedPost } from "../types";

interface Props {
  posts: PublishedPost[] | PublishedNote[];
  rootUrl: string;
  page: PageMeta;
}

const { posts, rootUrl, page } = Astro.props;

const tagOccur: { [k: string]: number } = {};
for (const post of posts) {
  for (const tag of post.data.tags ?? []) {
    if (!(tag in tagOccur)) {
      tagOccur[tag] = 0;
    }
    tagOccur[tag] += 1;
  }
}

const tags = Object.entries(tagOccur)
  .map((to) => {
    return { name: to[0], occur: to[1] };
  })
  .sort((a, b) => b.occur - a.occur);
---

<ContentLayout pageId={page.id} pageTitle={page.title}>
  <div class="mb-3">
    <slot name="description" />
  </div>
  <div id="tags" class="mb-3">
    {tags.map((tag) => <Tag tagName={tag.name} postCount={tag.occur} rootUrl={rootUrl} />)}
  </div>
  <h2 class="mb-2">All posts</h2>
  <div>
    {posts.map((post) => <PostComponent post={post} rootUrl={rootUrl} />)}
  </div>
</ContentLayout>

<style lang="scss">
  #tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
</style>
