---
import PostComponent from "../components/blog/post.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import Tag from "../components/blog/tag.astro";
import type { PostFrontmatter } from "../types";

interface Post {
  frontmatter: PostFrontmatter;
  url: string;
  tags: () => string[];
}

interface Props {
  posts: Post[];
  pageId: string;
  pageTitle: string;
}

const { posts, pageId, pageTitle } = Astro.props;

const tagOccur: { [k: string]: number } = {};
for (const post of posts) {
  for (const tag of post.tags()) {
    if (!(tag in tagOccur)) {
      tagOccur[tag] = 0;
    }
    tagOccur[tag] += 1;
  }
}

const tags = Object.entries(tagOccur)
  .map((to) => {
    return { name: to[0], occur: to[1] };
  })
  .sort((a, b) => b.occur - a.occur);
---

<ContentLayout pageId={pageId} pageTitle={pageTitle}>
  <div class="mb-3">
    <slot name="description"></slot>
  </div>
  <div class="mb-3">
    {tags.map((tag) => <Tag tagName={tag.name} postCount={tag.occur} />)}
  </div>
  <h2 class="mb-2">All posts</h2>
  <div>
    {
      posts.map((post) => (
        <PostComponent
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          dates={post.frontmatter.dates}
          tags={post.frontmatter.tags}
          url={post.url}
        />
      ))
    }
  </div>
</ContentLayout>
