---
import ContentLayout from "./ContentLayout.astro";
import type { PostData } from "../types"

interface Props {
  post: {
    id: string,
    data: PostData
  }
}

const { post } = Astro.props;
const { pathname } = Astro.url;
---

<ContentLayout pageId={pathname.split("/")[1]} pageTitle={post.data.title}>
  <div class="mb-3">
    <div class="desc">{post.data.description}</div>
    <div class="meta mb-3">
      {
        post.data.tags ? (
          <div class="tags">
            {(post.data.tags ?? []).map((tag: string) => (
              <span class="tag">#{tag}</span>
            ))}
          </div>
        ) : (
          "no tags :("
        )
      }
      <div class="date">
        {
          post.data.dates ? (
            post.data.dates.edited ? (
              <div>last edited {post.data.dates.edited.toLocaleDateString("cs")}</div>
              <div>(originally published {post.data.dates.publish.toLocaleDateString("cs")})</div>
            ) : post.data.dates.publish.toLocaleDateString("cs")
          ) : "Not published yet"
        }
      </div>
    </div>
  </div>
  <hr class="mb-3">
  <div class="post-content">
    <slot></slot>
  </div>
</ContentLayout>

<script>
  window.addEventListener("load", () => {
    let state: {[index: string]: boolean} = {};
    document.querySelectorAll<HTMLElement>("[data-target-answer]").forEach((btn) => {
      btn.addEventListener("mousedown", (e) => {
        if (!btn.dataset.targetAnswer) {
          return;
        }

        if (!state[btn.dataset.targetAnswer]) {
          state[btn.dataset.targetAnswer] = false;
        }

        state[btn.dataset.targetAnswer] = !state[btn.dataset.targetAnswer];
        document.querySelectorAll<HTMLElement>(`[data-answer='${btn.dataset.targetAnswer}'`).forEach((ans) => ans.style.display = state[btn.dataset.targetAnswer] ? 'inline' : 'none');
      });
    });
  });
</script>

<style lang="scss">
  .title {
    margin-bottom: 0.5rem;
  }

  .desc {
    margin-bottom: 0.5rem;
    font-style: italic
  }

  .meta {
    color: var(--ctp-subtext0);
    display: flex;
    flex-flow: column;

    .tag {
      margin-right: 4px;
    }

    .date {
      margin-left: auto;
      text-align: right;
      font-style: italic;
    }
  }
</style>

<style is:global lang="scss">
  .post-content {
    @for $i from 1 through 5 {
      h#{$i} {
        margin: revert;
      }
    }

    p {
      margin: revert;
    }

    img {
      width: 100%;
    }
  }

  [data-answer] {
    display: none;
  }
</style>
